.footer {
   @include e(help){
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: row;
    justify-content: space-between;
    text-align:start;

    @include stylesForFooterHelp768px(first);
    
    @include stylesForFooterHelp768px(second);
    
    @include stylesForFooterHelp768px(third);
   }

   @include e(copyright){
      flex-direction: row;
      @include m(p){
         text-align: start;
         padding-right: 16px;
         margin-bottom: 16px;
      }

      @include e(box){
         width: 315px;
        @include m(img){
         width: 100%;
         padding-left: 16px;
        }
      }
   }

}