.foto{
    grid-gap: 30px;
    grid-template-columns: repeat(2, minmax(130px, 1fr));

    @include e(first){
        grid-column: 1;
        grid-row: 1;
        @include e(block){
            @include m(h2){
                font-size: 30px;
            }
        }
    }

    @include e(second){
        grid-column: 2;
        grid-row: 1;
        @include e(block){
            @include m(h2){
                font-size: 30px;
            }
        }
    }
}