.deals {

    @include e(position){
        background: url('#{$imagesPath}slideshow-v1.jpg') center center no-repeat;
        background-size: cover;
    }
    color: $white;
    padding-top: 100px;
    padding-left: 5px;
    font-family: $baseFontFamily;
    @include e(text){
        margin: 0;
        padding-bottom: 15px;
    }
    @include e(first-p){
        @include m(text){
            margin: 0;
            padding-bottom: 15px;
            text-transform: uppercase;
            font-weight: $mediumFontWeight;
            letter-spacing: 4px;
        }
    }

    @include e(title){
        margin: 0;
        padding-bottom: 15px;
        font-weight: $normalFontWeight;
        font-size: 30px;
    }

    @include e(second-p){
        @include m(text){
            margin: 0;
            padding-bottom: 15px;
            line-height: 1.5;
            font-size: 19px;
            font-weight: $normalFontWeight;
        }    
    }

    @include e(btn){
        border: 1px solid $white;
        padding: 15px 30px;
        margin-top: 30px;
        margin-bottom: 70px;
        @include e(text){
           text-transform: uppercase;
           text-decoration: none;
           color: $white;
        }
    }
}