.deals {
    background: url('#{$imagesPath}slideshow-v1.jpg') 50% 100% no-repeat;
    background-size: cover;
    color: $white;
    padding-top: 100px;
    padding-left: 5px;
    @include e(text){
        margin: 0;
        padding-bottom: 15px;
    }
    @include e(first-p){
        
        text-transform: uppercase;
        font-weight: $mediumFontWeight;
        letter-spacing: 4px;
    }

    @include e(h1){
        
    }

    @include e(second-p){
        line-height: 1.5;
    }

    @include e(btn){
        border: 1px solid $white;
        padding: 15px 30px;
        margin-top: 30px;
        margin-bottom: 70px;
        font-family: $fontSofiaPro;
        @include e(text){
           text-transform: uppercase;
           text-decoration: none;
           color: $white;
        }
    }
}