.foto{
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    margin: 5px;
    position: relative;
    @include e(first){
        background: url('#{$imagesPath}banner-v1-2.jpg') center center no-repeat;
        background-size: cover;
        @include styleForFotoBlocks();
    }

    @include e(second){
        background: url('../../../i/banner-v1-1.jpg') center center no-repeat;
        background-size: cover;
        @include styleForFotoBlocks();
    }
}