.foto{
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-areas: 
    "foto1"
    "foto2"
    ;
    margin: 5px;
    @include e(first){
        grid-area: foto1;
        background: url('#{$imagesPath}banner-v1-2.jpg') center center no-repeat;
        background-size: cover;
        @include styleForFotoBlocks()
    }

    @include e(second){
        grid-area: foto2;
        background: url('../../../i/banner-v1-1.jpg') center center no-repeat;
        background-size: cover;
        @include styleForFotoBlocks();
    }
}