.new-arrives{
    margin-top: 20px;
    padding-left: 7px;
    padding-right: 7px;
    @include e(h2){
      margin-bottom: 20px;
      grid-column: 1 / -1;
      text-align: center;
      font-weight: 400;
    }

    @include e(product){
      @include styleForNewArrives(first);

      @include styleForNewArrives(second);

      @include styleForNewArrives(third);

      @include styleForNewArrives(fourth);

      @include styleForNewArrives(fifth);

      @include e(animation){
        display: none;
      }

    }
  }

  .close {
    display: none;
  }
