.propose{
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 7px;
    padding-right: 7px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, minmax(130px, 1fr));

    @include e(h2){
        grid-column: 1 / -1;
        text-align: center;
        font-weight: 400;
    }
    @include stylesForNewProduct(first);

    @include stylesForNewProduct(second);

    @include stylesForNewProduct(third);

    @include stylesForNewProduct(fourth);

    @include stylesForNewProduct(fifth);

    @include stylesForNewProduct(sixth);

    @include stylesForNewProduct(seventh);

    @include stylesForNewProduct(eight);

}
