.advantages{
    grid-template-columns: repeat(3, 1fr);
    
    @include e(first){
        grid-column: 1;
        grid-row: 1;
        display: block;
       
    }

    @include e(second){
        margin: 0;
        grid-column: 2;
        grid-row: 1;        
    }

    @include e(third){
        grid-column: 3;
        grid-row: 1;
        display: block;
       
    }
}

