.header-for-992px{
    display: block;
    left: 0;
    top: -100px;
    z-index: 10;
    
    @include e(container){
        padding: 15px 0;
        display: flex;
        
    }
    @include e(nav){
        width: 40%;
        position: relative;
       @include e(ul){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        padding: 0 15px;
        cursor: pointer;
        @include e(li){
            list-style: none;
            @include m(span){
                position: relative;
                font-size: 17px;
                text-transform: uppercase;
                text-decoration: none;
                color: $colorNav992px;
                padding: 8px;
                font-weight: $mediumFontWeight;
                &:hover {
                    color:$red;
                }

                &::after {
                    position: absolute;
                    content: "";
                    border-bottom: 1px solid $red;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform .6s;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
                
            }
        }
       }

       @include e(ul-menu){
            min-width: 100%;
            display: none;
            padding-bottom: 10px;
            background: $white;
            position: absolute;
            top: 47px;
            left: 2px;
            z-index: 2;
            cursor:auto;
        
        @include e(li){
            position: relative;
            list-style: none;
            padding: 10px;
            cursor:pointer;
           
            
            &::after{
                position: absolute;
                bottom: 4px;
                left: 9px;
                content: '';
                width: 35px;
                height: 1px;
                background: $red;
            } 

            @include e(img){
                margin-bottom: 10px;
                &:hover {
                    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                    transition: all .2s linear;
                }
            }
           

            @include e(a){
                text-decoration: none;
                color: $black;
                text-transform: uppercase;
                &:hover{
                    color: $red;
                }
            }
        
        }

    }
        
    }

    @include e(logo){
        width: 175px;
        @include m(img){
            width: 100%;
        }
    }

    @include e(right){
        display: flex;
        align-items: center;
        margin-left: auto;
         @include m(img){
            cursor: pointer;
            width: 24px;
            height: 24px;
            margin-right: 18px;
         }
    }
}

.header{
    display: none;
}

.header-none{
    display: none;
}


.activeh{
    position: fixed;
    transform: translateY(100px);
    width: 100%;
    background: $colorHeaderIsShow;
    transition: all .3s linear;
} 

.active-sub-menu{
    display: block;
    
}

.grid-header{
    padding: 0;
    display:grid;
    grid-template-areas: 
        "m1 m2 m3"
        "m4 m5 ."
    ;
}

.first-li {
    grid-area: m1;
}

.second-li {
    grid-area: m2;
}

.third-li {
    grid-area: m3;
}

.fourth-li {
    grid-area: m4;
}

.fifth-li {
    grid-area: m5;
}

.activee {
    color: $red;
}

.header-for-992px__nav__ul-menu__li_a{
    display: block;
    text-decoration: none;
    color: $black;
    position: relative;
    font-size: 17px;
    font-weight: $semiBoldFontWeight;
    padding-bottom: 10px;
    margin-bottom: 14px;
    cursor: auto;

    &:hover {
        cursor: pointer;
        color: $red;
    }
    
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 35px;
        height: 1px;
        background: $red;

    }
}

.header-for-992px__nav__ul-menu__li-second{
    margin-right: 20px;
    list-style: none;
}

.header-for-992px__nav__ul-menu__second__ul{
    padding: 0;
}

.header-for-992px__nav__ul-menu__second__ul__li{
    list-style: none;
    
}

.header-for-992px__nav__ul-menu__second__ul__li{
    display: block;
    padding: 4px 0;
    text-decoration: none;
    font-size: 15px;
    color: $colorWordsNav;
    &:hover {
        color: $red;
    }
}

.p30{
    padding: 30px;
}

.left-100{
    left: 100px;
}

.left-190{
    left: 190px;
}

.left-320{
    left: 320px;
}

.left-410{
    left: 410px;
}

.mobile-navigation{
    display: none;
}