.header-for-992px {
    display: block;
    @include e(container){
        display: flex;
        padding: 25px 15px;
    }

    @include e(nav){
        @include e(ul){
            display: flex;
            list-style: none;
            padding-left: 0;
            @include e(li){
                @include e(a){
                    font-size: 17px;
                    font-weight: $mediumFontWeight;
                    color: $colorNav992px;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 8px;
                }
            }
        }
    }

    @include e(logo){
        margin: auto;
        width: 175px;
       
    }

    @include e(right){
        @include e(img){
            
            fill: #fff;
            height: 24px;
            
        }
    }
}

.header{
    display: none;
}