.header-for-992px{
    display: block;

    @include e(container){
        padding: 15px 0;
        display: flex;
        
    }
    @include e(nav){
        width: 40%;
       @include e(ul){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        padding: 0 15px;
        @include e(li){
            list-style: none;
            @include m(a){
                position: relative;
                font-size: 17px;
                text-transform: uppercase;
                text-decoration: none;
                color: $colorNav992px;
                padding: 8px;
                font-weight: $mediumFontWeight;
                &:hover {
                    color:$red;
                }

                &::after {
                    position: absolute;
                    content: "";
                    border-bottom: 1px solid $red;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform .6s;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
                
            }
        }
       }
        
    }

    @include e(logo){
        width: 175px;
        @include m(img){
            width: 100%;
        }
    }

    @include e(right){
        display: flex;
        align-items: center;
        margin-left: auto;
         @include m(img){
            width: 24px;
            height: 24px;
            margin-right: 18px;
         }
    }
}

.header{
    display: none;
}