.new-arrives{
  grid-template-columns: repeat(4, minmax(130px, 1fr));// 5 after js
  margin-top: 15px;
  margin-bottom: 70px;
  @include e(product){

    @include scaleForNewArrives(first);
    @include scaleForNewArrives(second);
    @include scaleForNewArrives(third);
    @include scaleForNewArrives(fourth);
    @include scaleForNewArrives(fifth);


    @include fontSizeForPriceNewArrives(first);
    @include fontSizeForPriceNewArrives(second);
    @include fontSizeForPriceNewArrives(third);
    @include fontSizeForPriceNewArrives(fourth);
    @include fontSizeForPriceNewArrives(fifth);

  }

  @include e(h2){
    font-size: 36px;
    font-weight: $mediumFontWeight;
  }
}

.close {
  display: block;
}