.pop-up-login {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.6);
    z-index: 20;

    @include e(container){
        height: 100%;
        width: 100%;
        @include e(main){
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: 500px;
            padding: 50px;
            background: $white;
            position: relative;

            @include e(image){
                position: relative;
                width: 180px;
                padding-bottom: 20px;

                @include m(line){
                    position: absolute;
                    width: 365px;
                    height: 1px;
                    background: rgba(128, 128, 128, 0.774);
                    bottom: 0;
                    left: -95px;
                }
            }

            @include e(h2){
                margin: 0;
                padding-top: 20px;
                font-weight: $normalFontWeight;
                font-size: 20px;
            }

            @include e(form){
                @include e(input){
                    width: 366px;
                    display: block;
                    margin-top: 25px;
                    margin-bottom: 20px;
                    padding: 6px 12px;
                    
                    height: 55px;
                    border: 1px solid $colorForgotPass;
                }

                @include e(forgot){
                    text-decoration: none;
                    color: $colorForgotPass;
                    font-size: 14px;
                    padding: 20px 0;
                    &:hover {
                        color: $red;
                    }
                }

                @include e(btn){
                    display: block;
                    background: $black;
                    margin-top: 20px;
                    padding: 20px 161px;
                    @include m(a){
                        display: block;
                        color: $white;
                        font-size: 14px;
                        font-weight: $semiBoldFontWeight;
                        text-transform: uppercase;
                        text-decoration: none;
                    }

                    &:hover {
                        background: $red;
                    }
                }
            }

            @include e(register){
                width: 366px;
                background: $colorRegisterBlock;
                border: 1px solid $colorBorderRegisterBlock;
                margin-top: 30px;
                padding: 10px;
                font-size: 14px;
                text-align: center;
                @include e(dont){
                    margin-right: 5px;
                }
                @include e(now){
                    text-decoration: none;
                    color: $colorForgotPass;
                    &:hover{
                        color: $red;
                    }
                }
            }
        }
    }
}

.pop-up-bag{
    height: 100%;
    width: 30%;
    background: $white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    transform: translateX(1000px);

    @include e(header){
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100;
        height: 100%;
        &:after{
            content: '';
            width: 100%;
            height: 1px;
            background: $colorBorderShoppingCart;
            position: absolute;
            bottom: 0;
           }

        & > div {
           
        }
    }

    @include e(close){
        position: relative;
        padding: 15px;

        &::after{
            content: '';
            width: 1px;
            height: 54px;
            background: $colorBorderShoppingCart;
            position: absolute;
            right: 0px;
            top: 0;
           }
    }

    @include e(i){
        font-size: 25px;
        &:hover {
            color: $red;
            cursor: pointer;
        }
    }

    @include e(h2){
      margin: 0;
      margin-top: 11px;
    }

    @include e(count){
        padding: 15px;
        display: flex;
        align-items: center;
        position: relative;
        &::after{
            content: '';
            width: 1px;
            height: 54px;
            background: $colorBorderShoppingCart;
            position: absolute;
            left: 0;
            top: 0;
           }
    }

    @include e(num){
    }

    @include e(main){
        font-size: 18px;
        display: flex;
        justify-content: center;
    }
}

.open-pop{
    transform: translateX(0);
    transition: transform .3s linear;
}

.close-pop {
    transform: translateX(1000px);
    transition: transform .3s linear;
}
