.propose__figure__first__elements{
    display: block;
}
.propose{
    grid-template-columns: repeat(4, minmax(130px, 1fr));
    @include e(h2){
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 36px;
        font-weight: $mediumFontWeight;
    }

    @include e(figure){
        @include stylesForPropose(first);
    }
    @include e(figcaption){
        @include fz992pxPropose(first);
        @include fz992pxPropose(second);
        @include fz992pxPropose(third);
        @include fz992pxPropose(fourth);
        @include fz992pxPropose(fifth);
        @include fz992pxPropose(sixth);
        @include fz992pxPropose(seventh);
        @include fz992pxPropose(eight);






    }
}

.propose__figure__first__before:hover .propose__figure__first__elements > div{
    transform: translateY(0);
    cursor: pointer;
}



