.veggie-pizza {
    & {
        background-size: 100%;
        -webkit-transition: background-size .4s linear;
        transition: background-size .4s linear;
    }
    &:hover {
        background-size: 110%;
    }

    @include e(shop-block){
        @include e(h2){
            font-size: 60px;
            font-weight: $mediumFontWeight;
        }

        @include e(p){
            font-size: 24px;
        }

        @include e(btn){
            top: 92%;
        }
    }
}