@function em($target, $current: $baseFontSize) {
  @return ($target / $current) * 1em;
}

@function rem($target) {
  @return ($target / $baseFontSize) * 1rem;
}

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &_#{$modifier} {
    @content;
  }
}

@mixin mq($width) {
  @media (min-width: $width) {
    @content;
  }
}


@mixin font($f, $s, $w: "") {
  font: #{$w} $s $f;
}

@mixin setCssVar($cssProp, $val) {
  $prefix: if(variable-exists(prefix), #{$prefix}, "");
  --#{$prefix}#{$cssProp}: #{$val};
}

@mixin getCssVar($cssProp, $cssVar: $cssProp) {
  $prefix: if(variable-exists(prefix), #{$prefix}, "");
  #{$cssProp}: var(--#{$prefix}#{$cssVar});
}

@mixin styleForFotoBlocks (){
  & > *{
            margin: 0;
        }
        margin-bottom: 10px;
        @include e(h2){
            font-size: 25px;
            padding-top: 55px;
            padding-left: 10px;
            padding-bottom: 25px;
        }

        @include e(btn){
            background-color: $white;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-left: 10px;
            padding: 15px 40px;
            font-size: 11px;
            font-weight: $mediumFontWeight;
            margin-bottom: 60px;
        }
}

@mixin styleForNewArrives($numBlock){
  @include e($numBlock){
    @include e(figure){
        margin: 0;
        position: relative;
        @include m(img){
            width: 100%;
        }

        @include m(sale){
            position: absolute;
            background: $red;
            top: 5px;
            right: 5px;
            color: $white;
            text-transform: uppercase;
            padding: 5px 12px;
            font-size: 10px;
            letter-spacing: .2rem;
        }

        @include e(time){
            width: 100%;
            position: absolute;
            bottom: 90px;
            left: 50%;
            transform: translate(-50%);
            @include e(ul){
            
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: center;
                font-size: 9px;

                @include m(li){
                    & > *{
                        margin: 0;
                        text-align: center;
                        padding-bottom: 2px;
                    }
                    background: $colorForBlocks;
                    border-radius: 2px;
                    width: 28px;
                    margin: 0 3px 0;
                }
            }
        }
    }
    @include e(link-box){
        margin: 0;
        padding: 20px 0 4px;

        @include m(a){
            text-decoration: none;
            color: $black;
            font-weight: $mediumFontWeight;
            line-height: 28px;
        }
    }

    @include e(p){
        margin-top: 5px;
        margin-bottom: 7px;
        font-weight: $boldFontWeight;
    }

    @include e(price){
        color: $red;
        font-size: 13px;
    }

    @include e(price-old){
        text-decoration:line-through;
        font-weight: 15px;
        color: $gray;
    }
}
}

@mixin stylesForNewProduct($num){
  @include e(figure){
    
    @include e($num){
      margin: 0;
        @include m(img){
            width: 100%;
        }
    }
}

  @include e(figcaption){
    @include e($num){
      display: flex;
      flex-direction: column;
      align-items: center;
      @include e(name-box){
        @include m(a){
          font-size: 14px;
          text-decoration: none;
          color: $black;
        }
      }
      @include e(p){
        font-size: 15px;
        font-weight: $boldFontWeight;
        @include m(price){
          color: $red;
        }

        @include m(price-old){
          color: $gray;
          text-decoration: line-through;
        }
      }
    }
  }
}

@mixin stylesForFooterHelp ($number){
  @include e($number){
    margin-bottom: 30px;
    position: relative;
    @include e(h2){
        margin: 0;
        font-size: 18px;
        font-weight: $mediumFontWeight;
    }

    @include e(empty){
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        background: $black;
        width: 30px;
        height: 1px;
        margin-top: 8px;
    }

    @include e(ul){
        margin-top: 25px;
        text-align: center;
        padding: 0;
        @include e(li){
            list-style: none;
            margin-bottom: 17px;
            @include m(link){
                font-size: 15px;
                font-weight: $normalFontWeight;
                padding: 5px 0;
                text-decoration: none;
                color: $black;
            }
        }
    }
}
}

@mixin stylesForNewArrives600px ($number){
  @include e(product){
    @include e($number){
      @include e(figure){
        @include m(sale){
          top: 10px;
          right: 10px;
      }
  
          @include e(time){
              
              @include e(ul){
  
                  @include m(li){
                    width: 64px;
                    height: 65px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: $normalFontWeight;
                  }
              }
          }
      }
  }
  }
}

@mixin stylesForFooterHelp768px ($num){
  @include e($num){

    @include e(empty){
        margin-top: 20px;
        left: 10%;
    }

    @include e(ul){
        padding-top: 20px;
        text-align: start;
    }
}
}

@mixin scaleForNewArrives ($num){
  @include e($num){
    @include e(figure){
      @include m(img){
        &:hover {
          transform: scale(1.1);
          transition: all 1s;
        }
      }
    }
  }
}

@mixin styleForFotoBlocks992px (){
  @include e(h2){
    font-size: 35px;
  }

  @include e(btn){
    font-size: 14px;
    
  }
}

@mixin fontSizeForPriceNewArrives($num){
    @include e($num){
        @include e(price){
          font-size: 14px;
        }

        @include e(price-old){
          font-size: 16px;
        }
    }
}