@function em($target, $current: $baseFontSize) {
  @return ($target / $current) * 1em;
}

@function rem($target) {
  @return ($target / $baseFontSize) * 1rem;
}

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &_#{$modifier} {
    @content;
  }
}

@mixin mq($width) {
  @media (min-width: $width) {
    @content;
  }
}


@mixin font($f, $s, $w: "") {
  font: #{$w} $s $f;
}

@mixin setCssVar($cssProp, $val) {
  $prefix: if(variable-exists(prefix), #{$prefix}, "");
  --#{$prefix}#{$cssProp}: #{$val};
}

@mixin getCssVar($cssProp, $cssVar: $cssProp) {
  $prefix: if(variable-exists(prefix), #{$prefix}, "");
  #{$cssProp}: var(--#{$prefix}#{$cssVar});
}

@mixin styleForFotoBlocks (){
  & > *{
            margin: 0;
        }
        background-size: cover;
        margin-bottom: 10px;
        @include e(h2){
            font-size: 25px;
            padding-top: 55px;
            padding-left: 25px;
            padding-bottom: 25px;
        }

        @include e(btn){
            background-color: $white;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-left: 25px;
            padding: 15px 40px;
            font-size: 11px;
            font-weight: $mediumFontWeight;
            margin-bottom: 60px;
        }
}